* {
    margin: 0px;
    padding: 0px;
}

.text-normal {
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
}

.button-text {
    font-size: 14px;
    text-align: center;
    align-self: center;
}

/* Sidebar Header */

#sidebar {
    position: fixed;
    height: 100%;
    width: 252px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.25);
}

#sidebar-header {
    display: grid;
    position: fixed;
    width: 251px;
    height: 100px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    justify-content: center;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

#sidebar-header > #header-content-wrapper {
    display: grid;
    grid-template-columns: 5fr 5fr;
    grid-column-gap: 0px;
    align-items: center;
}

#sidebar-header-logo {
    width: 80px;
    height: 80px;
}

#sidebar-header-text {
    color: #E11E22;
    font-size: 48px;
    margin-left: -15px;
    text-align: center;
}

/* Sidebar Buttons */

#sidebar-buttons-wrapper {
    margin-top: 100px;
    display: grid;
    grid-template-columns: auto;
}

.sidebar-button {
    display: grid;
    width: 250px;
    height: 60px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.sidebar-button:hover {
    background: #F57878;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav-link {
    text-decoration: none;
    color: #000000;
}

/* Main content and sections */

.main-section {
    display: grid;
    grid-template-rows: auto;
}

.section-header {
    display: grid;
    height: 50px;
    background: #096EB6;
    /*box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);*/
}

.section-header-text {
    margin-left: 20px;
    color: #FFFFFF;
    align-self: center;
    font-size: 24px;
}

.list-item-text {
    margin-top: 4px;
    margin-bottom: 4px;
    font-family: Puritan;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 18px;
    color: #000000;
}

code {
    display: inline-block;
    width: 97%;
    margin-top: 8px;
    padding-top: 8px;
    padding-left: 12px;
    padding-bottom: 8px;
    background-color: #E9E9E9;
}

.article-text {
    font-family: 'Quattrocento Sans';
    font-style: normal;
    font-weight: normal;
    line-height: 1.2em ;
    font-size: 16px;
    margin-left: 0px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#main-doc {
    display: grid;
    grid-template-rows: auto;
    margin-left: 251px;
    height: auto;
}

.section-article {
    display: grid;
    padding-left: 60px;
    padding-top: 10px;
    padding-right: 60px;
}